@import "./vars";
@import "./reboot";
@import "./functions";
@import "./mixins";
@import "components/container";
@import "components/header";

body{
  font-size: $fontSize;
  font-weight: 400;
  font-family: $fontFamily ;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @include  breakpoint($md-2, 0){
    font-size: 2px;
  }
}